@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('../font/HelveticaNeue-Bold/HelveticaNeue-Bold.eot');
	src: url('../font/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'), 
	 url('../font/HelveticaNeue-Bold/HelveticaNeue-Bold.woff') format('woff'),
	  url('../font/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf') format('truetype');
	
}
@font-face {
	font-family: 'HelveticaNeue-Regular';
	src: url('../font/HelveticaNeue-Regular/HelveticaNeue.eot');
	src: url('../font/HelveticaNeue-Regular/HelveticaNeue.eot?#iefix') format('embedded-opentype'), 
	 url('../font/HelveticaNeue-Regular/HelveticaNeue.woff') format('woff'),
	  url('../font/HelveticaNeue-Regular/HelveticaNeue.ttf') format('truetype');
	
}